<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" href="{% static 'vendor/css/user_orders.css' %}">
</head>
<body>
    <h1>Информация о вашем заказе</h1>
    <div class="order-details">
        <p><strong>Номер заказа:</strong> #12345</p>
        <p><strong>Дата заказа:</strong> 07 апреля 2024 г.</p>
        <p><strong>Сумма заказа:</strong> $100.00</p>
        <!-- Другие детали заказа, например, список товаров, статус заказа и т. д. -->
    </div>
    <footer>
    <p>&copy; 2024 Магазин цветов 'Lavender'. Все права защищены.</p>
</footer>
</body>
</html>
